* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.box {
    height: 20vh;
    width: 35%;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    margin: 5% 0% 0% 10%;
}
.body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.likes {
    display: flex;
    flex-direction: row;
    width: 35%;
    height: 100%;
    align-items: center;
    padding: 0% 5%;
}
button {
    margin-left: 20%;
    background-color: yellow;
    color: black;
    box-shadow: 3px 3px black;
    height: 40%;
    width: 40%;
}
